In [82]:
# Dependencies and Setup
import pandas as pd

# File locations
school_data_to_load = "../Starter_Code/Resources/schools_complete.csv"
student_data_to_load = "../Starter_Code/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

<h1>District Summary</h1>

In [83]:
# Calculate the total number of unique schools
school_count = school_data_complete["School ID"].nunique()
school_count

15

In [84]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [85]:
# Calculate the total budget
total_budget = school_data_complete['budget'].unique().sum()
total_budget

24649428

In [86]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [87]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [88]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [89]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [90]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [91]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([{"Total Schools":school_count, "Total Students":student_count, "Total Budget":total_budget, "Average Math Score":average_math_score, "Average Reading Score":average_reading_score, "% Passing Math":passing_math_percentage, "% Passing Reading":passing_reading_percentage, "% Overall Passing":overall_passing_rate}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

<h1>School Summary</h1>

In [126]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [111]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(['school_name']).count()["student_name"]

In [94]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [95]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [96]:
# Calculate the number of students per school with math scores of 70 or higher
school_passing_math = school_data_complete.groupby('school_name')['math_score'].apply(lambda x: x[x >= 70].count())

In [97]:
# Calculate the number of students per school with reading scores of 70 or higher
school_passing_reading = school_data_complete.groupby('school_name')['reading_score'].apply(lambda x: x[x >= 70].count())

In [98]:
# Use the provided code to calculate the students that passed both math and reading with scores of 70 or higher
filter = (school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)
passing_math_and_reading = school_data_complete[filter].groupby('school_name')['student_name'].count()

In [124]:
# Calculate Passing rates at each school
per_school_passing_math = school_passing_math / per_school_counts * 100
per_school_passing_reading = school_passing_reading / per_school_counts * 100
overall_passing_rate = passing_math_and_reading / per_school_counts * 100

In [123]:
per_school_summary = pd.concat([school_types, per_school_counts, per_school_budget, per_school_capita, per_school_math, per_school_reading, per_school_passing_math,
                                per_school_passing_reading,overall_passing_rate], axis=1)
per_school_summary.head()

,type,student_name,budget,0,math_score,reading_score,1,2,student_name
school_name,,,,,,,,,
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [120]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.concat([school_types, per_school_counts, per_school_budget, per_school_capita, per_school_math, per_school_reading, per_school_passing_math,
                                per_school_passing_reading,overall_passing_rate], axis=1)

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

KeyError: 'Total School Budget'

In [110]:
print(per_school_summary.dtypes)

School Type               object
Total Students            object
Total School Budget       object
Per Student Budget        object
Average Math Score       float64
Average Reading Score    float64
% Passing Math            object
% Passing Reading         object
% Overall Passing         object
dtype: object